.modal {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;    
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.35);
}

.card {
    width: 80%;
    height: 80%;
    background-color: white;
    padding: 20px;
    border-radius: 20px;
    overflow: auto;
}

.closeButton {
    display: block;
    font-weight: bolder;
    font-size: var(--main-font-size);
    cursor: pointer;
    background-color: hsla(0, 0%, 0%, 0.4);
    float: right;
    padding: 0px 7px;
    margin: 0 0 15px 15px;
    border-radius: 5px;
}

.imgCard {
    width: 100%;
    height: auto;
}